<a href="https://colab.research.google.com/github/vanshika7-max/World-Bank-Education-Stats/blob/main/Vanshika_Raj_Team_7_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The World Bank EdStats All Indicator Query holds over 4,000 internationally comparable indicators that describe education access, progression, completion, literacy, teachers, population, and expenditures.The indicators cover the education cycle from pre-primary to vocational and tertiary education and also holds learning outcome data from international and regional learning assessments (e.g. PISA, TIMSS, PIRLS), equity data from household surveys, and projection/attainment data. </b>

## <b> Explore and analyze the data to identify variation of indicators across the globe, which countries are more alike and different. Feel free to add more extensive analyses and details.</b>

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [11]:
path='/content/drive/My Drive/AlmaBetter/Cohort Aravali/Module 2/Week 1/Day 1/dat/'

EdStatsCountry_Series_df= pd.read_csv(path + 'EdStatsCountry-Series.csv')
EdStatsCountry_df= pd.read_csv(path + 'EdStatsCountry.csv')
EdStatsData_df= pd.read_csv(path + 'EdStatsData.csv')
EdStatsFootNote_df= pd.read_csv(path + 'EdStatsFootNote.csv')
EdStatsSeries_df= pd.read_csv(path + 'EdStatsSeries.csv')

In [16]:
EdStatsCountry_Series_df

    CountryCode  ... Unnamed: 3
0           ABW  ...        NaN
1           ABW  ...        NaN
2           AFG  ...        NaN
3           AFG  ...        NaN
4           AFG  ...        NaN
..          ...  ...        ...
608         ZAF  ...        NaN
609         ZMB  ...        NaN
610         ZMB  ...        NaN
611         ZWE  ...        NaN
612         ZWE  ...        NaN

[613 rows x 4 columns]

In [17]:
EdStatsCountry_Series_df.info

<bound method DataFrame.info of     CountryCode  ... Unnamed: 3
0           ABW  ...        NaN
1           ABW  ...        NaN
2           AFG  ...        NaN
3           AFG  ...        NaN
4           AFG  ...        NaN
..          ...  ...        ...
608         ZAF  ...        NaN
609         ZMB  ...        NaN
610         ZMB  ...        NaN
611         ZWE  ...        NaN
612         ZWE  ...        NaN

[613 rows x 4 columns]>

In [18]:
EdStatsCountry_Series_df.head()

  CountryCode  ... Unnamed: 3
0         ABW  ...        NaN
1         ABW  ...        NaN
2         AFG  ...        NaN
3         AFG  ...        NaN
4         AFG  ...        NaN

[5 rows x 4 columns]

In [29]:
EdStatsCountry_df.head(1)

  Country Code Short Name  ... Latest water withdrawal data Unnamed: 31
0          ABW      Aruba  ...                          NaN         NaN

[1 rows x 32 columns]

In [30]:
EdStatsFootNote_df.head(1)

  CountryCode      SeriesCode    Year          DESCRIPTION  Unnamed: 4
0         ABW  SE.PRE.ENRL.FE  YR2001  Country estimation.         NaN

In [31]:
EdStatsData_df.head()

  Country Name Country Code  ... 2100 Unnamed: 69
0   Arab World          ARB  ...  NaN         NaN
1   Arab World          ARB  ...  NaN         NaN
2   Arab World          ARB  ...  NaN         NaN
3   Arab World          ARB  ...  NaN         NaN
4   Arab World          ARB  ...  NaN         NaN

[5 rows x 70 columns]

In [ ]:
EdStatsSeries_df.info()

In [26]:
EdStatsCountry_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 32 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Country Code                                       241 non-null    object
 1   Short Name                                         241 non-null    object
 2   Table Name                                         241 non-null    object
 3   Long Name                                          241 non-null    object
 4   2-alpha code                                       238 non-null    object
 5   Currency Unit                                      215 non-null    object
 6   Special Notes                                      145 non-null    object
 7   Region                                             214 non-null    object
 8   Income Group                                       214 non-null    object
 9   WB-2 code                                          240 non-null    object
 10  National accounts base year                        205 non-null    object
 11  National accounts reference year                   32 non-null     float64
 12  SNA price valuation                                197 non-null    object
 13  Lending category                                   144 non-null    object
 14  Other groups                                       58 non-null     object
 15  System of National Accounts                        215 non-null    object
 16  Alternative conversion factor                      47 non-null     object
 17  PPP survey year                                    145 non-null    object
 18  Balance of Payments Manual in use                  181 non-null    object
 19  External debt Reporting status                     124 non-null    object
 20  System of trade                                    200 non-null    object
 21  Government Accounting concept                      161 non-null    object
 22  IMF data dissemination standard                    181 non-null    object
 23  Latest population census                           213 non-null    object
 24  Latest household survey                            141 non-null    object
 25  Source of most recent Income and expenditure data  160 non-null    object
 26  Vital registration complete                        111 non-null    object
 27  Latest agricultural census                         142 non-null    object
 28  Latest industrial data                             107 non-null    float64
 29  Latest trade data                                  185 non-null    float64
 30  Latest water withdrawal data                       179 non-null    object
 31  Unnamed: 31                                        0 non-null      float64
dtypes: float64(4), object(28)
memory usage: 60.4+ KB

In [28]:
EdStatsCountry_df.head(1)

  Country Code Short Name  ... Latest water withdrawal data Unnamed: 31
0          ABW      Aruba  ...                          NaN         NaN

[1 rows x 32 columns]

In [32]:
EdStatsData_df.loc[:,'Country Name' : 'Indicator Code'].describe()

       Country Name  ... Indicator Code
count        886930  ...         886930
unique          242  ...           3665
top     Netherlands  ...    UIS.G.5.B.F
freq           3665  ...            242

[4 rows x 4 columns]

In [ ]:
Overall, 242 countries are present with 3665 indicators.

In [34]:
countries = EdStatsData_df.loc[:,['Country Name','Country Code']].drop_duplicates()
print (countries.shape)

(242, 2)

In [35]:
indicators = EdStatsData_df.loc[:,['Indicator Name','Indicator Code']].drop_duplicates()
print(indicators.shape)

(3665, 2)

In [37]:
countries.head(10)

                                        Country Name Country Code
0                                         Arab World          ARB
3665                             East Asia & Pacific          EAS
7330     East Asia & Pacific (excluding high income)          EAP
10995                                      Euro area          EMU
14660                          Europe & Central Asia          ECS
18325  Europe & Central Asia (excluding high income)          ECA
21990                                 European Union          EUU
25655         Heavily indebted poor countries (HIPC)          HPC
29320                                    High income          HIC
32985                      Latin America & Caribbean          LCN

In [ ]:
This is not even the exact countries, it also contains regions in it.

In [39]:
indicators.head(10)

                                      Indicator Name  Indicator Code
0  Adjusted net enrolment rate, lower secondary, ...      UIS.NERA.2
1  Adjusted net enrolment rate, lower secondary, ...    UIS.NERA.2.F
2  Adjusted net enrolment rate, lower secondary, ...  UIS.NERA.2.GPI
3  Adjusted net enrolment rate, lower secondary, ...    UIS.NERA.2.M
4  Adjusted net enrolment rate, primary, both sex...     SE.PRM.TENR
5   Adjusted net enrolment rate, primary, female (%)  SE.PRM.TENR.FE
6  Adjusted net enrolment rate, primary, gender p...  UIS.NERA.1.GPI
7     Adjusted net enrolment rate, primary, male (%)  SE.PRM.TENR.MA
8  Adjusted net enrolment rate, upper secondary, ...      UIS.NERA.3
9  Adjusted net enrolment rate, upper secondary, ...    UIS.NERA.3.F